.manager-theater-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.manager-theater-left-panel {
  width: 50%;
  height: 96%;
  padding: 20px;
  margin: 20px 0px 20px 20px;
  border-radius: 6px;
  border: 1px solid rgb(236, 239, 243);
}

.manager-theater-left-title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 56, 121);
}

.manager-theater-left-grid {
  width: 100%;
}

.manager-theater-right-panel {
  width: 50%;
  height: 96%;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  border-radius: 6px;
  border: 1px solid rgb(236, 239, 243);
}

.manager-theater-right-header {
  margin-bottom: 20px;
}
.manager-theater-right-button {
  display: flex;
  justify-content: end;
  gap: 5px;
}
.input_movie_code {
  text-align: right;
}

.manager-theater-right-input-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
}

.manager-theater-right-input-line.area {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px 0px;
}

.manager-theater-right-input-label {
  width: 100px;
  text-align: right;
  padding-right: 5px;
}
.manager-theater-right-input-button {
  margin-left: 5px;
}

.manager-theater-right-input-line-group-flex {
  display: flex;
}

.manager-theater-right-input-line-group {
  width: 50%;
}

.manager-theater-right-input-textarea {
  width: 400px;
  height: 140px;
  resize: none; 
  overflow-y: auto;
  
}