.footer-main-wrap {
  width: 100%;
  margin-top: 100px;
}

.footer-main-info {
  width: 980px;
  height: 200px;
  margin: 0 auto;
  margin-top: 100px;
}

.footer-main-logo {
  height: 50px;
  text-align: left;
}

.footer-main-comment {
  font-size: 12px;
  text-align: left;
  color: #aaa;
  margin: 5px 0px;
  padding: 0;
}

.footer-main-banner-top {
  margin-top: 100px;
}

.footer-main-banner-bottom {
  margin-top: 100px;
}