@charset "utf-8";
:root {
  --menu-color: blue;
  --menu-width: 80px;
  --menu-height: 25px;
  --menu-icon-width: 16px;
  --menu-icon-height: 16px;
  --menu-background-color: white;
  --menu-border: 1px solid red;
  --menu-border-radius: 6px;
  --menu-hover-color: white;
  --menu-hover-background-color: red;
}

/* 스크롤바의 너비와 높이 */
::-webkit-scrollbar {
  width: 10px;
  /* 수직 스크롤바의 너비 */
  height: 5px;
  /* 수평 스크롤바의 높이 */
}

/* 스크롤바의 트랙 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* 스크롤바 트랙의 배경색 */
  border-radius: 10px;
  /* 둥근 모서리 */
}

/* 스크롤바의 이동 가능한 부분(thumb) */
::-webkit-scrollbar-thumb {
  background-color: #cfcaca;
  /* 스크롤바 thumb의 색상 */
  border-radius: 10px;
  /* 둥근 모서리 */
  border: 2px solid #fff;
  /* 테두리 추가 (배경색과 동일하게) */
}

/* 스크롤바의 thumb가 호버되었을 때 */
::-webkit-scrollbar-thumb:hover {
  background-color: #a3a0a0;
  /* 호버 시 thumb 색상 변경 */
}


/* RESET */
html,
body,
button,
dl,
dt,
dd,
div,
form,
fieldset,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
ul,
ol,
li,
p,
pre,
table,
td,
th,
caption,
a,
button,
figure {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  height: 100%; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal
}

body {
  font-size: 14px;
  color: #666666;
  font-family: 'NanumSquare';
}

input { 
  vertical-align: middle;
  font-family: 'NanumSquare';
  outline: none;
  height: 25px;
  border-radius: 6px;
  border: 1px solid rgb(236, 239, 243);
  padding: 0px 5px;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
}

select {
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
  /* 화살표 없애기 공통*/
}

select::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}

ol,
ul {
  list-style: none
}

li {
  list-style: none
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

em {
  font-style: normal;
}