spring.application.name=backend

spring.datasource.url=${DB_URL}
spring.datasource.username=m${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

file.upload-dir=/home/ubuntu/topcinema/images/

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
spring.servlet.multipart.enabled=true

logging.file.path=/home/ubuntu/log

spring.security.debug=false

spring.mvc.cors.allowed-origins=http://43.203.201.45

# HTTPS ?? ??? ??? ?? ??
server.ssl.enabled=false

spring.main.allow-bean-definition-overriding=true

