.best-movie-slider-wrap {
  position: relative;
  width: 100%;
  margin-top: 550px;
}

.best-movie-slider-view-wrap {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 70px;
  background: #000;
}
.best-movie-slider-view {
  position: relative;
  width: 985px;
  height: 390px;
  overflow: hidden;
}

.best-movie-slider-view>ul {
  position: absolute;
  display: flex;
  top: 50px;
  gap: 15px;
  cursor: pointer;
}

.best-movie-slider-view>ul>li {
  position: relative;
}

/* .best-movie-slider-view>ul:before {
  content: "";
  position: absolute;
  display: block;
  background: #000;
  left: 0;
  right: 0;
  width: 100%;
  height: 405px;
  z-index: -1;
} */

.best-movie-slider-view-img {
  width: 185px;
  height: 262px;
  border-radius: 8px;
}

.best-movie-slider-button {
  margin: 0px 10px 50px 10px;
  color: #ddd;
  cursor: pointer;
}

.best-movie-slider-view-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.best-movie-slider-view-title1 {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-right: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
}

.best-movie-slider-view-title2 {
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.best-movie-slider-view-rating {
  display: flex;
  justify-content: center;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.best-movie-slider-view-rating i {
  font-size: 10px;
  color: orange;
  padding-right: 5px;
}

.best-movie-slider-view-rating span {
  color: chocolate;
}

.best-movie-slider-view-reservation {
  position: relative;
  padding-right: 15px;
}

.best-movie-slider-view-reservation::after {
  content: '';
  position: absolute;
  display: block;
  left: 42px;
  top: 40%;
  margin-top: -2px;
  height: 10px;
  width: 1px;
  background-color: #ddd;
}

.best-movie-slider-view-ranking {
  position: absolute;
  left: 15px;
  bottom: 55px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.best-movie-slider-view-detail-wrap {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 185px;
  height: 262px;
  font-weight: bold;
  padding: 80px 0px;
  background: #000;
  opacity: 0.8;
  z-index: 100;
  border-radius: 8px;
  color: white;
}

.best-movie-slider-view-detail-wrap div {
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 6px;
}